---
import '../styles/style.css';
import NavigateMinimized from '../components/NavigateMinimized.astro';
import NavigateMobile from '../components/NavigateMobile.astro';
const {pageName="CYBERDEMON", width = "72vw", headerImg, headerWidth } = Astro.props;
---



<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageName}</title>
		<link rel="stylesheet" href="https://unpkg.com/7.css">

		<script is:inline src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
		<script is:inline src="https://static.tumblr.com/iuw14ew/VSQma1786/jquery.style-my-tooltips.js"></script>
	  
		<script is:inline>
		  (function($){
			$(document).ready(function(){
			  $("[title], a[title], img[title]").style_my_tooltips({
				tip_follows_cursor: true,
				tip_delay_time: 90,
				tip_fade_speed: 600,
				attribute: "title"
			  });
			});
		  })(jQuery);
		</script>
	</head>

	<body>
		<NavigateMobile />
		<div id="main" style={`width: ${width};`}>
			<div class="titleImage" style={`background-image: url(${headerImg}); padding-right: ${headerWidth}`}>
			<h1>{pageName}</h1>
			</div>

			<div class="flex">
				<div class="flexChild child-small">
				
					<NavigateMinimized />
				</div>
				<div class="flexChild child-equal mainBox">
					<slot />
				</div>
			</div>
		</div>
	</body>
</html>

<script>
	document.addEventListener("DOMContentLoaded", function() {
	  document.getElementById("defaultOpen").click();
	});
	</script>
	